{% extends "base.html" %}

{% load static %}
{% block content %}
<main class="main-wrapper">
<header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-6">
          <div class="header-left d-flex align-items-center">
            <div class="menu-toggle-btn mr-20">
              <button
                id="menu-toggle"
                class="main-btn primary-btn btn-hover"
              >
                <i class="lni lni-chevron-left me-2"></i> Menu
              </button>
            </div>
            <div class="header-search d-none d-md-flex">
              <form action="#">
                <input type="text" placeholder="Search..." />
                <button><i class="lni lni-search-alt"></i></button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-6">
          <div class="header-right">
            <!-- notification start -->
            <div class="notification-box ml-15 d-none d-md-flex">
              <!-- <button
                class="dropdown-toggle"
                type="button"
                id="notification"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="lni lni-alarm"></i>
                <span>2</span>
              </button> -->
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="notification"
              >
                <li>
                  <a href="#0">
                    <div class="image">
                      <img src="{% static 'assets/images/lead/lead-6.png' %}" alt="" />
                    </div>
                    <div class="content">
                      <h6>
                        John Doe
                        <span class="text-regular">
                          comment on a product.
                        </span>
                      </h6>
                      <p>
                        Lorem ipsum dolor sit amet, consect etur adipiscing
                        elit Vivamus tortor.
                      </p>
                      <span>10 mins ago</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#0">
                    <div class="image">
                      <img src="{% static 'assets/images/lead/lead-1.png' %}" alt="" />
                    </div>
                    <div class="content">
                      <h6>
                        Jonathon
                        <span class="text-regular">
                          like on a product.
                        </span>
                      </h6>
                      <p>
                        Lorem ipsum dolor sit amet, consect etur adipiscing
                        elit Vivamus tortor.
                      </p>
                      <span>10 mins ago</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
           
            <!-- profile start -->
            <div class="profile-box ml-15">
              <button
                class="dropdown-toggle bg-transparent border-0"
                type="button"
                id="profile"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <div class="profile-info">
                  <div class="info">
                    {% if user.is_authenticated %}
                    <h6>{{ user.username }}</h6>
                    {% endif %}
                    <div class="image">
                      <img
                        src="{% static 'icon.png' %}"
                        alt=""
                      />
                      <span class="status"></span>
                    </div>
                  </div>
                </div>
                <i class="lni lni-chevron-down"></i>
              </button>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="profile"
              >
                <li>
                  <a href="#0">
                    <i class="lni lni-user"></i> View Profile
                  </a>
                </li>
                <li>
                  <a href="#0">
                    <i class="lni lni-alarm"></i> Notifications
                  </a>
                </li>
                <li>
                  <a href="#0"> <i class="lni lni-inbox"></i> Messages </a>
                </li>
                <li>
                  <a href="#0"> <i class="lni lni-cog"></i> Settings </a>
                </li>
                <li>
                  <a href="{% url 'records:logout' %}"> <i class="lni lni-exit"></i> Sign Out </a>
                </li>
              </ul>
            </div>
            <!-- profile end -->
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- ========== header end ========== -->
 
<section class="table-components">
    <!-- <div class="container-fluid"> -->
        <div class="tables-wrapper">
          
        <div class="row">
          <div class="col-lg-12">
            <div class="card-style mb-30">
              {% include 'partials/alerts.html' %}
                <h1 class="mb-10">Movements</h1>
                <p class="text-sm mb-20"></p>
                <div class="table-wrapper table-responsive">
                  <!--for qr test-->
                 
                    <button id="checkoutButton2" class="main-btn active-btn rounded-full btn-hover btn-sm">QR Checkout</button>
             
                  <div class="modal" id="checkoutModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Checkout Visitor</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                      <!--Qr Code Scanner-->
                                <div id="reader" width="300px"></div><br>
                                <input type="text" id="visitorIdInput" class="form-control visually-hidden" placeholder="Visitor ID">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" id="checkoutConfirmButton" class="btn btn-primary">Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                  
                 
                   <!-- Add a new section for the checkout button and popup -->
                  <div class="checkout-section checkbt">
                    <button id="checkoutButton" class="main-btn active-btn rounded-full btn-hover btn-sm">Checkout</button>
                  </div>

                  <!-- Add a hidden popup for checkout -->
                  <div id="checkoutPopup" class="checkout-popup">
                    <div class="checkout-content">
                      <span class="close-popup" id="closeCheckoutPopup">&times;</span>
                      <center><h3>Checkout Visitor</h3></center><br>
                       <!-- Animated Credit Card -->
                      <div class="animated-card">
                        <!-- Credit card content and design -->
                        <div class="credit-card"></div>
                         <!-- Add text on the card -->
                        <div class="card-text">
                          <img src="https://bsc.rw/wp-content/uploads/2023/01/BSC-High-res.-vector-logo-01@2x-1-160x69.png" alt="logo" />
                        </div>
                      </div>
                      <!-- End of Animated Credit Card -->
                      <div class="checkout-form visually-hidden">
                        <label for="cardNumber">Card Number:</label>
                        <input type="text" id="cardNumber" name="cardNumber" required>
                        <button id="checkoutSubmit" class="main-btn active-btn rounded-full btn-hover btn-sm">Checkout</button>
                      </div>
                       
   
                    </div>
                  </div>
                <table id="movement" class="table">
                    <thead>
                    <tr>
                        <th><h6>Name</h6></th>
                        <th><h6>ID</h6></th>
                        <th><h6>Email</h6></th>
                        <th><h6>Phone Number</h6></th>
                        <th><h6>Organization</h6></th>
                        <th><h6>Card Number</h6></th>
                        <th><h6>Time In</h6></th>
                        <th><h6>Time Out</h6></th>
                        <th><h6>Status</h6></th>
                    </tr>
                    <!-- end table row-->
                    </thead>
                    <tbody>
                      {% for movement in movements %}
                    <tr>
                      <td>
                        <a href="#" class="open-qr-popup" data-visitor-id="{{ movement.visitor.id_passport_nbr }}">
                          {{ movement.visitor.first_name }} {{ movement.visitor.surname }}
                        </a>
                      </td>
                      </td>
                        <td class="min-width">{{ movement.visitor.id_passport_nbr}}</td>
                        <td class="min-width">{{ movement.visitor.email }}</td>
                        <td class="min-width">{{ movement.visitor.mobile_phone }}</td>
                        <td class="min-width">{{ movement.visitor.organization }}</td>
                        <td class="min-width">{{ movement.card.name }}</td>
                        <td class="min-width">{{ movement.time_in }}</td>
                        <td class="min-width">{{ movement.time_out|default_if_none:"Not checked out" }}</td>
                        <td class="min-width">
                          {% if movement.time_out %}
                          <button class="btn rounded-md btn-danger btn-sm" disabled>Checked Out</button>
                          {% else %}
                          <form method="post" action="{% url 'records:check_out_visitor' visitor_id=movement.visitor.id_passport_nbr %}">
                            {% csrf_token %}
                            <input type="submit" class="btn rounded-md btn-success btn-sm checkoutButton" value="Check Out">
                        </form>
                          {% endif %}
                        </td>
                        
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
                <!-- end table -->
                </div>
            </div>
            <!-- end card -->
            </div>
    <!-- end col -->
    <!-- </div> -->
    </div>
    </div>
    <!-- HTML code for the QR code popup -->
    <div class="modal fade" id="qrCodeModal" tabindex="-1" role="dialog" aria-labelledby="qrCodeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="qrCodeModalLabel">Visitor QR Code</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img id="qrCodeImg" src="" alt="QR Code" class="img-fluid">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- Add this button after the QR code image -->
            <button id="printButton" class="btn btn-primary">Print</button>
          </div>
        </div>
      </div>
    </div>
    
</section>
</main>

{% endblock content %}